<section id="banner-300x250">
	<div class="page" id="p1">        
	    <div id="imgB" class="abs background-image"></div>
	    <div id="imgA" class="abs background-image"></div>
	    <div id="txtA" class="abs title title-wrapper first-container"></div>
	</div>
	<div class="page" id="p2">
	    <div id="gradient" class="abs"></div>
	    <div id="txtB" class="abs title title-wrapper second-container"></div>
	    <svg id="curve" class="abs" width="579px" height="244px" viewBox="1 -1 579 244" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	        <defs>
	            <linearGradient id="lightGradient" >
	                <stop id="begin" offset="0%" stop-color="#ffc917" stop-opacity="0">
	                </stop>
	                <stop id="sec" offset="49%" stop-color="#ffc917" stop-opacity="0.75">
	                </stop>
	                <stop id="third" offset="51%" stop-color="#ffc917" stop-opacity="0.75">
	                </stop>
	                <stop id="end" offset="100%" stop-color="#ffc917" stop-opacity="0"/>
	            </linearGradient>
	        </defs>
	        
	        <g id="curve-inner" transform="translate(-475.000000, -564.000000)" stroke="none" fill="url(#lightGradient)">>
	            <path d="M476,807.149026 L1052.70296,807.149026 L1052.70296,565.149026 L812,565.149026 C768.26591,563.071343 726.062586,582.718588 685.390029,624.090763 C624.381193,686.149026 583.084034,731.065193 548.025998,744.41145 C524.653974,753.308954 500.645308,759.192912 476,762.063321 L476,807.149026 Z" id="Path-2"></path>
	        </g>
	    </svg>
	</div>

	<div class="page" id="p3">
	    <div id="txtC" class="abs title2 title-wrapper first-container"></div>       
	    <span id="txtD" class="abs subtitle sub-text"></span>
	    <button id="btn" class="abs button"></button>
	    <img id="logo" class="abs" src="logo.png" height="21">
	</div>
</section>
